header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.filter-search,
.image-container {
    width:50%
}

.filter-search {
    float:right;
}
